.marquee-container {
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  height: 1.5rem;
  overflow: hidden;
}

#scrollingText>div {
  width: 10rem;
}

#scrollingText {
  display: flex;
  animation: text-scroll 35s linear infinite;
}

@keyframes text-scroll {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.marqueeSymbol {
  font-weight: 700;
}

.marqueePrice {
  color: green;
}